<div class="well">
<h4>Please enter your name</h4>
  <form class="form-inline" role="form" action="/set_name" method="post">
    <div class="form-group">
      <input type="text" class="form-control" name="player_name" placeholder="Enter Player Name" value="Player">
    </div>
    <button type="submit" class="btn btn-default">That's me!</button>
  </form>
</div>